<template>
  <div class="mygame">
      <h1>My Game</h1>
  </div>
  <OXTable />
</template>
<script>
// @ is an alias to /src
import OXTable from '@/components/OXTable.vue'

export default {
  name: 'MyGame',
  components: {
    OXTable
  }
}
</script>
<style></style>
