<template>
  <div @click="clickcell">{{ player }}</div>
</template>
<script>
export default {
  props: ['player', 'row', 'col'],
  methods: {
    clickcell (event) {
      // console.log(event)
      // console.log('click' + this.row + ' ' + this.col)
      if (this.player !== '-') return
      this.$emit('cell-click', this.row, this.col)
    }
  }
}
</script>
<style></style>
